<div class="error-container">
  <div class="content-container">
    <img src="https://cdn1.iconfinder.com/data/icons/empty-states-bzzricon-illo/4000/404-04-512.png" alt="Error Icon"
      class="error-icon">
    <div class="text-container">
      <h1 class="error-heading">Error 404</h1>
      <p class="error-message">¡Oops! Parece que te has perdido. La página que buscas no se encuentra.</p>
      <p class="error-message">Por favor, verifica la URL o vuelve a la página de inicio.</p>
    </div>
  </div>
</div>